<div class = "container">
  <div class = "row pt-4">
    <h4>会員一覧</h4>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="header1">会員ID</th>
        <th class="header2">氏名</th>
        <th class="header3">メールアドレス</th>
        <th class="header4">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td class="align-middle"><%= member.id %></td>
          <td class="align-middle">
            <%= link_to member.last_name+member.first_name , admin_member_path(member) %>
          </td>
          <td class="align-middle"><%= member.email %></td>
          <td class="align-middle">
                <% if member.is_deleted == false %>
                  <p class="text-success font-weight-bold">有効</p>
                <% else %>
                  <p class="text-secondary font-weight-bold">退会</p>
                <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>